.profile-card {
    min-height: 205rem;
}

.profile-card:hover {
    background: rgba(green, 0.2);
}

.profile-card-footer {
    background: rgba(green, 0.2);
    padding: 0;
}

.profile-card-img {
    height: 14rem;
}