.profile-card {
    height: 24rem;
    font-size: .9em;
    background: rgba(green, 0.1);
}

.profile-card:hover {
    background: rgba(green, 0.2);
}

.profile-card-footer {
    background: rgba(green, 0.2);
    padding: 0;
    font-size: .9em;
}

.profile-card-img {
    height: 13rem;
}