.profile-card {
    height: 22rem;
}

.profile-card-body {
    height: 5rem;
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-card:hover {
    background: rgba(green, 0.1);
}

.profile-card-footer {
    background: rgba(green, 0.1);
    padding: 2% 0;
}

.profile-card-btn {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: .9em;
}

.profile-card-img {
    height: 12rem;
}